.about {
  background-image: url("/images/about.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 1;
  @media screen and (max-width: 767px) {
    background-image: url("/images/img-342.png");
  }
}

.bg {
  background: #e9edf1;
  margin-top: -30px;
}

.founder {
  padding-top: 90px;
  padding-bottom: 90px;
  @media screen and (max-width: 767px) {
    padding-top: 80px;
  }
  .founder__inner {
    display: flex;
    gap: 47px;
    @media screen and (max-width: 1316px) {
      flex-direction: column;
      gap: 74px;
    }
    & > :first-child {
      flex: 1.1;
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #1e1e1e;
      max-width: 632px;
      @media screen and (max-width: 1316px) {
        max-width: 100%;
      }
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
    & > :last-child {
      flex: 1;
      p {
        font-weight: 500;
        font-size: 52px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: #173969;
        margin-top: 38px;
        @media screen and (max-width: 767px) {
          font-size: 30px;
          margin-top: 30px;
        }
      }
      img {
        @media screen and (max-width: 767px) {
          width: 37px;
        }
      }
    }
  }
}

.values__item {
  border-radius: 24px;
  padding: 30px 37px 30px 40px;
  background: #fff;
  @media screen and (max-width: 767px) {
    padding: 20px;
    border-radius: 12px;
  }
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #173969;
    margin-bottom: 10px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #616161;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
  a {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #616161;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.values__column {
  display: flex;
  gap: 20px;
}

.values__column_1 {
  & > :first-child {
    flex: 1;
  }
  & > :last-child {
    flex: 1;
  }
}

.values__column_2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  @media screen and (max-width: 967px) {
    grid-template-columns: 1fr;
  }
}

.values__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 52px;
  @media screen and (max-width: 967px) {
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }

  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #173969;
    @media screen and (max-width: 767px) {
      font-size: 27px;
    }
  }
  div {
    flex: 1;
  }
  p {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000;
    flex: 1;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
}

.values {
  padding-top: 160px;
  padding-bottom: 130px;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.benefits {
  background: #fff;
  padding-top: 90px;
  border-radius: 35px 35px 0 0;
  margin-bottom: -100px;
  @media screen and (max-width: 767px) {
    padding-top: 40px;
    border-radius: 24px 24px 0 0;
  }
}

.benefits__inner {
  display: flex;
  gap: 38px;
  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
  }

  @media screen and (max-width: 767px) {
    gap: 30px;
  }
  & > :first-child {
    flex: 1;
  }
  & > :last-child {
    flex: 1;
  }
}

.benefits__inner img {
  width: 100%;
}

.benefits__inner h2 {
  font-weight: 500;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #173969;
  margin-bottom: 162px;
  @media screen and (max-width: 1027px) {
    margin-bottom: 50px;
  }
  @media screen and (max-width: 767px) {
    font-size: 27px;
    margin-bottom: 40px;
  }
}

.benefits__inner p {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #000;
  @media screen and (max-width: 900px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

.benefits__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.benefits {
  padding-bottom: 153px;
}

.benefits__inner a {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #24282e;
  display: inline-block;
  border: 1px solid #24282e;
  border-radius: 40px;
  padding: 8px 54px;
  text-decoration: none;
  transition: all ease 0.3s;
  &:hover {
    background: #24282e !important;
    color: #fff;
  }
  @media screen and (max-width: 767px) {
    padding: 8px 48px;
    font-size: 14px;
  }
}

.tg_home_2 {
  margin-top: 0 !important;
}

.m153 {
  height: 153px;
  @media screen and (max-width: 767px) {
    height: 80px;
  }
}

.m120 {
  height: 120px;
  @media screen and (max-width: 1120px) {
    display: none;
  }
}

.section_11 h2 {
  font-weight: 500;
  font-size: 52px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #173969;
  margin: 38px 0;
  br {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.section_11 img {
  @media screen and (max-width: 767px) {
    width: 37px;
  }
}
.section_11 {
  @media screen and (max-width: 1100px) {
    margin-top: 80px;
  }
}

.section_11 p {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  color: #000;
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

.benefits__title_mob {
  display: none;
  @media screen and (max-width: 900px) {
    display: block !important;
  }
}

@media screen and (max-width: 900px) {
  .benefits__title {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .m60 {
    height: 60px !important;
  }
}
