.hero {
  background: #675c51;
  padding-top: 154px;
  padding-bottom: 67px;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 767px) {
    padding-top: 108px;
    padding-bottom: 42px;
    border-radius: 0 0 25px 25px;
  }
  * {
    color: #fff !important;
    border-color: #fff !important;
  }
}

.bg {
  background: #f1ece7;
  margin-top: -30px;
}

.about {
  padding-top: 170px;
  margin-bottom: 120px;
  @media screen and (max-width: 767px) {
    padding-top: 77px;
    margin-bottom: 60px;
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #675c51;
    margin-bottom: 90px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  .about_left {
    p {
      font-weight: 500;
      font-size: 52px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #2b2a29;
      @media screen and (max-width: 767px) {
        font-size: 27px;
      }
    }
  }

  .about_right_cont {
    & > :first-child {
      font-weight: 800;
      font-size: 82px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #675c51;
      @media screen and (max-width: 767px) {
        font-size: 38px;
      }
    }
    & > :last-child {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #2b2a29;
      margin-top: 20px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
        margin-top: 10px;
      }
    }
  }

  .about_cont {
    display: flex;
    gap: 130px;

    @media screen and (max-width: 1293px) {
      gap: 50px;
    }
    @media screen and (max-width: 767px) {
      gap: 40px;
    }
    @media screen and (max-width: 1137px) {
      flex-direction: column;
    }
    & > :first-child {
      flex: 1.2;
    }
    & > :last-child {
      flex: 1;
    }
  }

  .about_right {
    & > :not(:last-child) {
      margin-bottom: 100px;
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }
  }
}

.logos_cont {
  display: flex;
  gap: 130px;
  margin-top: 100px;
  @media screen and (max-width: 1293px) {
    gap: 50px;
  }
  @media screen and (max-width: 1137px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    margin-top: 60px;
    gap: 40px;
  }
  & > :first-child {
    flex: 1.2;
  }
  & > :last-child {
    flex: 1;
  }

  .logos_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    img {
      width: 100%;
      max-width: 135px !important;
    }
    @media screen and (max-width: 1137px) {
      max-width: 500px;
    }
    @media screen and (max-width: 767px) {
      gap: 40px;
    }
  }

  p {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #000;
    @media screen and (max-width: 767px) {
      font-size: 27px;
    }
  }
}

.blockquote_cont {
  background: #fff;
  border-radius: 24px;
  padding: 30px;
  display: flex;
  gap: 50px;
  align-items: flex-start;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }
  img {
    width: 100%;
    border-radius: 15px;
    max-width: 217px;
    @media screen and (max-width: 767px) {
      max-width: 100%;
    }
  }
  blockquote {
    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #24282e;
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }

  .quote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .quote__author {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #b6b9be;
    margin-top: 20px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
}

.figure_section {
  margin-bottom: 140px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.editors {
  margin-bottom: 120px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #675c51;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 40px;
    }
  }

  .editors_cont {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (max-width: 767px) {
      gap: 20px;
    }
    .editors_item {
      background: #fff;
      border-radius: 24px;
      overflow: hidden;
      display: flex;
      gap: 20px;
      @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        gap: 0;
        padding: 20px;
      }
      & > :first-child {
        flex: 1;
      }
      & > :last-child {
        flex: 1;
        aspect-ratio: 1/1;
      }
      .editors_top {
        span {
          opacity: 0.8;
          font-weight: 600;
          font-size: 18px;
          line-height: 122%;
          color: #616161;
          border-radius: 50px;
          padding: 8px 12px 10px;
          background: #f1ece7;
          margin-bottom: 20px;
        }
        h3 {
          font-weight: 500;
          font-size: 82px;
          line-height: 100%;
          letter-spacing: -0.02em;
          color: #675c51;
          margin-bottom: 144px;

          @media screen and (max-width: 1035px) {
            margin-bottom: 50px;
            font-size: 52px;
            max-width: 200px;
          }

          @media screen and (max-width: 767px) {
            font-size: 36px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

.desc {
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #616161;
  }
}

.editors_item_left {
  padding: 40px 50px;
  @media screen and (max-width: 880px) {
    padding: 20px;
  }
  @media screen and (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.standards {
  margin-bottom: 120px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #675c51;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 30px;
    }
  }
  .standards__description {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000;
    margin-bottom: 80px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }

  .standards__list {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 998px) {
      flex-direction: column;
    }
    & > :first-child,
    & > :last-child {
      flex: 1;
    }
  }

  .standart_item {
    border-radius: 24px;
    padding: 30px 37px 30px 40px;
    background: #fff;
    @media screen and (max-width: 767px) {
      padding: 20px;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #675c51;
    margin: 10px 0;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }

  .standart_item__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #616161;
    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.standards__list_2 {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
  @media screen and (max-width: 998px) {
    flex-direction: column;
  }
  & > :first-child {
    flex: 1.2;
  }
  & > :nth-child(2) {
    flex: 1.5;
  }
  & > :last-child {
    flex: 1;
  }
}

.video_media {
  margin-bottom: 120px;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #675c51;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 30px;
    }
  }

  .video_media__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media screen and (max-width: 1030px) {
      grid-template-columns: 1fr;
      gap: 40px;
    }
    img {
      width: 100%;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    .media_card__tags {
      display: flex;
      gap: 12px;
      flex-wrap: wrap;
      margin-bottom: 10px;

      span {
        display: inline-block;
        opacity: 0.8;
        font-weight: 600;
        font-size: 16px;
        color: #616161;
        border-radius: 50px;
        padding: 8px 12px 10px;
        background: #fafafa;
        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }
    }
    h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #24282e;
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }

    .media_card__date {
      font-weight: 600;
      font-size: 18px;
      line-height: 122%;
      color: #c5c5c5;
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }
    a {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      color: #24282e;
      border: 1px solid #24282e;
      border-radius: 40px;
      padding: 10px 49px;
      margin-top: 20px;
      @media screen and (max-width: 767px) {
        margin-top: 10px;
      }
    }

    .media_card__content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      justify-content: space-between;
      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}

.socials {
  padding-bottom: 84px;
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #675c51;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 33px;
    }
  }

  .socials__grid {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 948px) {
      flex-direction: column;
      gap: 10px;
    }
    & > :first-child {
      flex: 1;
    }
    & > :last-child {
      flex: 1.8;
    }
    .social_card {
      border-radius: 24px;
      background: #fff;
      overflow: hidden;
    }

    .socials__column_1 {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media screen and (max-width: 948px) {
        gap: 10px;
      }
      & > :first-child,
      & > :last-child {
        flex: 1;
      }

      .social_card {
        position: relative;
        padding: 30px;
        min-height: 351px;
        @media screen and (max-width: 948px) {
          min-height: auto;
        }
        @media screen and (max-width: 767px) {
          padding: 20px;
        }
        img {
          position: absolute;
          bottom: 0;
          right: 0;
          @media screen and (max-width: 948px) {
            max-width: 110px;
          }
        }
      }
    }

    .socials__column {
      display: flex;
      flex-direction: column;
      gap: 30px;
      @media screen and (max-width: 948px) {
        gap: 10px;
      }
      & > :first-child {
        flex: 3.4;
      }
      & > :last-child {
        flex: 1;
      }
    }
  }
}

.social_card__link {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #675c51;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
  span {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  @media screen and (max-width: 767px) {
    font-size: 22px;
  }
}

.social_card__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #c5c5c5;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.social_card__handle {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #616161;
  @media screen and (max-width: 767px) {
    font-size: 12px;
  }
}

.social_card_y {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  @media screen and (max-width: 767px) {
    padding: 20px 4px 20px 20px;
  }
  img {
    @media screen and (max-width: 948px) {
      max-width: 130px;
    }
  }
}

.socials__subgrid {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 948px) {
    flex-direction: column;
    gap: 10px;
  }
  & > :first-child {
    flex: 1;
  }
  & > :last-child {
    flex: 2;
  }
}

.social_card_z {
  position: relative;
  padding: 30px;
  @media screen and (max-width: 767px) {
    padding: 20px;
  }

  img {
    position: absolute;
    bottom: 0;
    right: 0;
    @media screen and (max-width: 948px) {
      max-width: 100px;
    }
  }
}

.socials__mini_grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (max-width: 948px) {
    gap: 10px;
  }
  & > :first-child {
    flex: 1;
  }
  & > :last-child {
    flex: 2;
  }

  .social_card_vk {
    display: flex;
    justify-content: space-between;

    .social_card__info {
      padding: 30px;
      @media screen and (max-width: 767px) {
        padding: 20px;
      }
    }
    img {
      @media screen and (max-width: 948px) {
        max-width: 110px;
      }
    }
  }
}

.social_card_rut {
  padding: 30px;
  position: relative;
  @media screen and (max-width: 767px) {
    padding: 20px;
  }
  img {
    position: absolute;
    bottom: 0;
    right: 0;
    @media screen and (max-width: 948px) {
      max-width: 110px;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 20px;
  }
}

.editors_img_wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  @media screen and (max-width: 767px) {
    border-radius: 12px;
  }
}

.editors_tag_deck {
  display: inline-block;
}

.editors_tag_mob {
  display: none;
}

@media screen and (max-width: 767px) {
  .editors_tag_deck {
    display: none;
  }
  .editors_tag_mob {
    display: inline-block;
    opacity: 0.8;
    font-weight: 600;
    font-size: 12px;
    line-height: 122%;
    color: #616161;
    border-radius: 50px;
    padding: 8px 12px 10px;
    margin-top: 20px;
    background: #f1ece7;
  }
}
