.footer {
  border-radius: 30px 30px 0 0;
  padding-top: 63px;
  padding-bottom: 63px;
  margin-top: -50px;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 686px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer_cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media screen and (max-width: 686px) {
      grid-template-columns: 1fr;
    }
  }
  a {
    display: flex;
    align-items: center;
    gap: 21px;
    text-decoration: none;
    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #fff;
      @media screen and (max-width: 686px) {
        font-size: 22px;
      }
    }
  }
  .footer_links {
    display: flex;
    flex-direction: column;
    gap: 23px;
  }

  .footer_text {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    @media screen and (max-width: 686px) {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }
}
@media screen and (max-width: 686px) {
  .footer_links {
    img {
      width: 50px;
    }
  }
}

.header {
  position: fixed;
  top: 0px;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  left: 0;
  width: 100%;
  z-index: 9999999;
  transition:
    transform 0.4s ease,
    background-color 0.3s ease; // Плавность
  background-color: transparent; // Изначально прозрачный
}

.header_scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); // Опционально: легкая тень
}
.header_hidden {
  transform: translateY(-100%);
}

.logo_link {
  transition: color 0.3s ease;
  color: #fff; // Исходный цвет на главной

  &.dark_text {
    color: #000; // Черный цвет при скролле или на других страницах
  }
}

.burger {
  background: none;
  border: none;
  padding: 0;
  margin-top: 3px;
  cursor: pointer;
}

.header_cont {
  display: flex;
  gap: 32px;
  align-items: flex-start;
  @media screen and (max-width: 767px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.header_cont a {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #fff;
  text-decoration: none;
  &.dark_text {
    color: #000000;
  }
  @media screen and (max-width: 767px) {
    font-size: 27px;
  }
}
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//

/* Добавь это к существующему классу .header_cont, если там нет */
.header_cont {
  position: relative;
  // твои текущие стили...
}

.burger {
  position: relative;
  z-index: 20;
  transition: transform 0.3s ease;

  img {
    display: block;
  }
}

.popup {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 10;
  width: 426px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
  padding: 108px 43px 32px 43px;
  animation: fadeIn 0.3s ease-out;
  @media screen and (max-width: 767px) {
    width: 100%;
    border-radius: 0;
    top: -20px;
    left: 0;
    height: 100vh;
    padding: 106px 20px 22px 20px;
  }
}

.popup_label {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  color: #24282e;
  margin-bottom: 7px;
}

.popup_nav {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    border-bottom: 2px solid #173969;

    &:last-child {
      border-bottom: 2px solid #fe5a00; // Оранжевая линия для последнего
    }
    &:nth-child(3) {
      border-bottom: 2px solid #24282e; // Оранжевая линия для последнего
    }
  }
}

.nav_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  text-decoration: none;
  font-size: 27px;
  font-weight: 500;
  letter-spacing: -0.02em;
  transition: opacity 0.2s;

  // &:hover {
  //   opacity: 0.7;
  // }

  &.blue {
    color: #173969;
  }
  &.black {
    color: #24282e;
  }
  &.orange {
    color: #fe5a00;
    border-bottom-color: #fe5a00;
  }
}

.popup_footer {
  display: flex;
  gap: 18px;
  margin-top: 200px;
}

.btn_outline {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
  font-size: 16px !important;
  text-align: center;
  color: #24282e !important;
  text-decoration: none;
  border: 1px solid #24282e;
  border-radius: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  transition: all 0.3s ease;
  &:hover {
    color: #e9edf1 !important;
    background: #24282e !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 20px 0 !important;
  }

  .header_cont {
    padding-left: 20px;
    padding-right: 20px;
  }

  .popup_content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.flex__fdg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pol {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  @media screen and (max-width: 686px) {
    display: none!important;
  }
}

.pol_mob {
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  display: none!important;
  @media screen and (max-width: 686px) {
    display: block!important;
  }
}
