@use "@/styles/reset";

.section_padding {
  padding-left: 20px;
  padding-right: 20px;
}

.wrapper {
  max-width: 1320px;
  margin: 0 auto;
}

.wrapper2 {
  max-width: 1440px;
  margin: 0 auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 20px !important;
  opacity: 1 !important;
  background: transparent !important;
  border: 1px solid #dac27e !important;
}

.swiper-pagination-bullet-active {
  background: #dac27e !important;
}

p,
li,
span,
a {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
