.hero {
  background: #fe5a00;
  padding-top: 154px;
  padding-bottom: 67px;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 767px) {
    padding-top: 108px;
    padding-bottom: 42px;
    border-radius: 0 0 25px 25px;
  }
  p {
    color: #fff !important;
    border-color: #fff !important;
  }
  a {
    border-color: #fff !important;
    color: #fff !important;
    &:hover {
      background: #fff !important;
      color: #fe5a00 !important;
      border-color: #fe5a00 !important;
    }
  }
}

.bg_orange {
  background: #fff3ed;
  margin-top: -30px;
}

.ultimate {
  padding-top: 130px;
  padding-bottom: 140px;
  @media screen and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 70px;
  }
}

.ultimate__container {
  display: flex;
  gap: 20px;
  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  & > :first-child {
    flex: 1;
  }
  & > :last-child {
    flex: 1.4;
  }
  .ultimate__image_wrapper {
    img {
      width: 100%;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fe5a00;
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 40px;
      line-height: 120%;
    }
  }
  .ultimate__quote {
    display: flex;
    flex-direction: column;
    gap: 30px;
    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #24282e;
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }
  }
  figcaption {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #616161;
    margin-top: 30px;
    display: inline-block;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
}

.spr_prod {
  padding-bottom: 140px;
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fe5a00;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 40px;
    }
  }

  .spr_prod_cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media screen and (max-width: 1274px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: 767px) {
      gap: 20px;
    }
    div {
      border-radius: 16px;
      padding: 40px;
      background: #fff;
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: flex-start;
      img {
        @media screen and (max-width: 767px) {
          max-width: 20%;
          margin-bottom: 10px;
        }
      }
      @media screen and (max-width: 767px) {
        font-size: 10px;
        padding: 20px;
      }
      h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: #24282e;
        @media screen and (max-width: 767px) {
          font-size: 22px;
        }
      }
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        color: #24282e;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }
}

.corporate_sport {
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fe5a00;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }
  .corporate_sport__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #000;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  .corporate_sport__column {
    h3 {
      font-weight: 500;
      font-size: 52px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #fe5a00;
      margin-bottom: 40px;
    }
  }

  .corporate_sport__content {
    display: flex;
    gap: 73px;
    @media screen and (max-width: 1244px) {
      gap: 23px;
    }
    @media screen and (max-width: 767px) {
      display: none;
    }
    & > :last-child {
      flex: 5;
      h3 {
        color: #675c51;
      }
    }
    & > :first-child {
      flex: 5;
    }
    & > :nth-child(2) {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.corporate_sport__column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  p {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #24282e;
    background: #fff;
    border-radius: 24px;
    padding: 20px 40px;
    height: 124px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 1244px) {
      font-size: 27px;
      height: 111px;
    }
  }
}

.corporate_sport {
  padding-bottom: 140px;
  @media screen and (max-width: 767px) {
    padding-bottom: 33px;
  }
}

.springle_info {
  padding-bottom: 140px;
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
  h3 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fe5a00;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      line-height: 120%;
    }
  }
  p {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #24282e;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
  .springle_info__block {
    display: flex;
    gap: 20px;
    @media screen and (max-width: 1333px) {
      flex-direction: column;
    }
    & > :first-child {
      flex: 1;
    }
    & > :last-child {
      flex: 1;
    }
  }

  .springle_info__container {
    & > :first-child {
      margin-bottom: 140px;
      @media screen and (max-width: 767px) {
        margin-bottom: 50px;
      }
    }
  }

  .springle_info__text_group {
    display: flex;
    flex-direction: column;
    gap: 40px;
    @media screen and (max-width: 767px) {
      gap: 20px;
    }
  }
}

.video_container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
  }
}

.video {
  margin-bottom: 140px;
  @media screen and (max-width: 767px) {
    margin-bottom: 90px;
  }
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fe5a00;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 30px;
    }
  }
}

.img_7 {
  img {
    width: 100%;
  }
}

.last_spr {
  background: #0f212a;
  border-radius: 30px 30px 0 0;
  padding-top: 32px;
  padding-bottom: 27px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 767px) {
    padding-top: 50px;
    padding-bottom: 120px;
  }
  .last_spr__container {
    display: flex;
    align-items: center;
    & > :first-child {
      flex: 1.2;
    }
    & > :last-child {
      flex: 1;
    }
    .last_spr__image_wrapper {
      @media screen and (max-width: 767px) {
        display: none;
      }
      img {
        width: 100%;
      }
    }
    .last_spr__title {
      font-weight: 500;
      font-size: 52px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #fe5a00;
      margin-bottom: 120px;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 30px;
      }
    }

    .last_spr__name {
      font-weight: 500;
      font-size: 52px;
      line-height: 100%;
      letter-spacing: -0.02em;
      color: #fff;
      margin-bottom: 10px;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 10px;
      }
    }

    .last_spr__position {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #616161;
      margin-bottom: 30px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    .last_spr__phone {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #fe5a00;
      text-decoration: none;
      display: inline-block;
      margin-bottom: 150px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
        margin-bottom: 30px;
      }
    }

    .last_spr__link {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      text-decoration: none;
      text-align: center;
      color: #fe5a00;
      border: 1px solid #fe5a00;
      border-radius: 40px;
      padding: 10px 48px;
      transition: all ease 0.3s;
      &:hover {
        background-color: #fe5a00;
        color: #fff;
      }
      @media screen and (max-width: 767px) {
        font-size: 14px;
        padding: 5px 20px;
      }
    }
  }
}

.img_333 {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.comparison__header {
  & > :first-child {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: #fff;
    border-radius: 12px 12px 12px 0;
    p {
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #fe5a00;
    }
  }
  & > :last-child {
    border-radius: 12px 12px 0 12px;
    padding: 10px 20px;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-bottom: 40px;
    justify-content: flex-end;
    p {
      font-weight: 500;
      font-size: 30px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #675c51;
    }
  }
}

.comparison__row {
  display: flex;
  flex-direction: column;
  gap: 10px;
  & > :last-child {
    border-radius: 12px 12px 0 12px;
    padding: 10px 20px;
    background: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    text-align: right;
    color: #675c51;
  }

  & > :first-child {
    border-radius: 12px 12px 12px 0;
    padding: 10px 20px;
    background: #fff;
    font-weight: 600;
    font-size: 22px;
    line-height: 130%;
    color: #fe5a00;
  }
}

.comparison__body {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.comparison {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.brmob {
  display: none;
  @media screen and (max-width: 767px) {
    display: block;
  }
}
