.hero {
  background: #1e1e1e;
  padding-top: 154px;
  padding-bottom: 67px;
  border-radius: 0 0 20px 20px;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 767px) {
    padding-top: 108px;
    padding-bottom: 42px;
    border-radius: 0 0 25px 25px;
  }
  * {
    color: #fff !important;
    border-color: #fff !important;
  }
}

.bg {
  background: #323232;
  margin-top: -30px;
}

.projects {
  padding-top: 139px;
  padding-bottom: 120px;
  @media screen and (max-width: 767px) {
    padding-top: 74px;
    padding-bottom: 70px;
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 42px;
    }
  }
  .projects__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @media screen and (max-width: 767px) {
      grid-template-columns: 1fr;
      gap: 10;
    }
    & > :nth-child(1) span {
      color: #898864;
    }
    & > :nth-child(2) span {
      color: #dac27e;
    }
    & > :nth-child(3) span {
      color: #c47123;
    }
    & > :nth-child(4) span {
      color: #506568;
    }
    h3 {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #fff;
      margin-bottom: 20px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
        margin-bottom: 10px;
      }
    }
    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 122%;
      color: #e9e9e9;
      @media screen and (max-width: 767px) {
        font-size: 12px;
      }
    }

    .projects__actions {
      display: flex;
      align-items: center;
      gap: 21px;
      @media screen and (max-width: 767px) {
        width: 17px;
      }
      a {
        display: inline-block;
        border: 1px solid #faf5f0;
        border-radius: 40px;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        text-align: center;
        color: #faf5f0;
        padding: 10px 35px;
        transition: all ease .3s;
        &:hover {
          background: #fff;
          color: #24282e;
        }
        @media screen and (max-width: 767px) {
          padding: 8px 20px;
        }
      }
      img {
        @media screen and (max-width: 767px) {
          width: 25px;
        }
      }
    }
    .projects__item {
      display: flex;
      flex-direction: column;
      gap: 30px;
      border-radius: 16px;
      padding: 30px;
      background: #1e1e1e;
      @media screen and (max-width: 767px) {
        padding: 20px;
      }
    }
  }
}

.video_container {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 40px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 15px;
  }
}

.studio {
  padding-bottom: 120px;
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 32px;
    }
    span {
      color: #898864;
    }
  }
  .studio__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }
}

.studio__box {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 50px;
  background: #1e1e1e;
  margin-bottom: 30px;
  justify-content: space-between;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 20px;
  }
  gap: 20px;
  p {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    @media screen and (max-width: 767px) {
      font-size: 22px;
    }
  }
  img {
    @media screen and (max-width: 767px) {
      width: 40px;
    }
  }
}

.studio_kv {
  padding-bottom: 70px;
  @media screen and (max-width: 767px) {
    padding-bottom: 40px;
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
    span {
      color: #dac27e;
    }
  }

  .studio_kv__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 60px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
      margin-bottom: 50px;
    }
  }

  .studio_kv__features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    @media screen and (max-width: 980px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    .studio_kv__feature {
      border-radius: 24px;
      padding: 30px;
      background: #1e1e1e;
      h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: #dac27e;
        margin-bottom: 20px;
        @media screen and (max-width: 767px) {
          font-size: 22px;
          margin-bottom: 10px;
        }
      }
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        color: #fff;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }
}

.location {
  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 24px;
    }
  }
  &__slider_wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 120px;
  }

  .location__slide {
    width: 100%;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    @media screen and (max-width: 767px) {
      height: auto;
      aspect-ratio: 15/9;
    }
  }

  &__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__prev {
    left: 20px;
    background: transparent;
  }

  &__next {
    right: 20px;
    background: transparent;
  }

  &__pagination {
    position: absolute;
    bottom: 60px !important;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 10px;
    @media screen and (max-width: 767px) {
      bottom: 80px !important;
    }
  }
}

.location__slider_wrapper {
  position: relative;
}

.team {
  padding-bottom: 120px;
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
  img {
    width: 100%;
    border-radius: 24px;
    @media screen and (max-width: 767px) {
      border-radius: 12px;
    }
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 30px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  .desc {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      font-size: 22px;
      margin-bottom: 30px;
    }
  }

  .team_zap {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    border-radius: 24px;
    padding: 30px;
    background: #525252;
    margin-top: 50px;
    @media screen and (max-width: 767px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 20px;
      padding: 20px;
      margin-top: 30px;
      background: #1e1e1e;
      border-radius: 12px;
    }
    p {
      font-weight: 600;
      font-size: 32px;
      line-height: 130%;
      color: #fff;
      max-width: 1024px;
      @media screen and (max-width: 767px) {
        font-size: 22px;
      }
    }

    img {
      max-width: 82px;
      border-radius: 0;
      @media screen and (max-width: 767px) {
        max-width: 40px;
      }
    }
  }
}

.logos {
  padding-bottom: 120px;
  @media screen and (max-width: 767px) {
    padding-bottom: 70px;
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  .logos_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media screen and (max-width: 767px) {
      gap: 10px;
    }
    img {
      @media screen and (max-width: 767px) {
        max-height: 30px;
      }
    }

    // & > :nth-child(2) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 95px;
    //   }
    // }

    // & > :nth-child(3) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 102px;
    //   }
    // }

    // & > :nth-child(4) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 93px;
    //   }
    // }

    // & > :nth-child(5) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 106px;
    //   }
    // }

    // & > :nth-child(5) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 106px;
    //   }
    // }

    // & > :nth-child(6) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 85px;
    //   }
    // }
    // & > :nth-child(7) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 118px;
    //   }
    // }
    // & > :nth-child(8) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 140px;
    //   }
    // }
    // & > :nth-child(9) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 128px;
    //   }
    // }
    // & > :nth-child(10) {
    //   @media screen and (max-width: 767px) {
    //     max-width: 119px;
    //   }
    // }
  }
}

.achievements {
  padding-bottom: 120px;
  @media screen and (max-width: 767px) {
    padding-bottom: 60px;
  }
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 50px;
    @media screen and (max-width: 767px) {
      font-size: 36px;
      margin-bottom: 30px;
    }
  }

  .achievements__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }

    .achievements__item {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 24px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      justify-content: flex-end;
      min-height: 570px;
      padding: 30px;
      @media screen and (max-width: 767px) {
        min-height: 335px;
        padding: 20px;
        border-radius: 12px;
      }
      h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        color: #fff;
        @media screen and (max-width: 767px) {
          font-size: 22px;
          margin-bottom: 0px;
        }
      }
      p {
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        color: #fff;
        @media screen and (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
    & > :first-child {
      @media screen and (max-width: 776px) {
        background-position: top;
      }
    }
  }
}

.socials {
  padding-bottom: 120px;

  h2 {
    font-weight: 500;
    font-size: 52px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 60px;
    @media screen and (max-width: 776px) {
      font-size: 27px;
      margin-bottom: 33px;
    }
  }

  .socials__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 21px;
    @media screen and (max-width: 776px) {
      grid-template-columns: 1fr;
    }

    .socials__item {
      border-radius: 24px;
      overflow: hidden;
      background: #525252;
      flex: 1;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      @media screen and (max-width: 776px) {
        border-radius: 12px;
      }

      div {
        padding: 30px;
        @media screen and (max-width: 776px) {
          flex-direction: column;
          padding: 20px;
        }
      }
      img {
        max-width: 310px;
        @media screen and (max-width: 1160px) {
          display: none;
        }
      }
    }
    .socials__column {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .socials__link {
        font-weight: 600;
        font-size: 32px;
        line-height: 130%;
        text-decoration: none;
        color: #e9edf1;
        display: inline-block;
        margin-bottom: 10px;
        @media screen and (max-width: 776px) {
          font-size: 22px;
        }
      }
      .socials__label,
      .socials__handle {
        font-weight: 600;
        font-size: 18px;
        line-height: 122%;
        color: #c5c5c5;
        margin-bottom: 10px;
        @media screen and (max-width: 776px) {
          font-size: 22px;
          font-size: 12px;
        }
      }
    }
  }
}

.socials__icon_2 {
  transform: scale(1.1);
}

.kino__gallery {
  & > :first-child {
    width: 100%;
    border-radius: 24px;
    margin-top: 50px;
    margin-bottom: 40px;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  & > :last-child {
    width: 100%;
    border-radius: 12px;
    display: none;
    @media screen and (max-width: 767px) {
      display: block;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.kino__inner {
  h2 {
    font-weight: 500;
    font-size: 82px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fff;
    margin-bottom: 30px;
    @media screen and (max-width: 1000px) {
      font-size: 36px;
    }
    span {
      color: #c47123;
    }
  }
  .kino__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #fff;
    @media screen and (max-width: 1000px) {
      font-size: 22px;
    }
  }
}

.kino__features {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  @media screen and (max-width: 1000px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.kino__feature {
  border-radius: 24px;
  padding: 30px;
  background: #1e1e1e;
  @media screen and (max-width: 1000px) {
    padding: 20px;
    min-height: 111px;
  }
  h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    color: #c47123;
    margin-bottom: 20px;
    @media screen and (max-width: 1000px) {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    color: #fff;
    @media screen and (max-width: 1000px) {
      font-size: 12px;
    }
  }
}

.kino {
  margin-bottom: 120px;
  @media screen and (max-width: 1000px) {
    margin-bottom: 60px;
  }
}

.socials__grid_2 {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .socials__grid {
    display: none !important;
  }

  .socials__grid_2 {
    display: grid !important;
  }
}

.q1 {
  color: #c47123;
}

.q2 {
  color: #dac27e;
}

.q3 {
  color: #898864;
}

.q4 {
  color: #c47123;
}

.q5 {
  color: #898864;
}
